body {
	background-image: url("gambar.png");
	background-repeat: no-repeat;
	background-size:cover;
}

h1 {
	font-family: Futura, sans-serif;
	font-size: 350px;
	font-weight: 700;
	color: #34a7df;
	margin-block-start: 0.2em;
    margin-block-end: 0.1em;
}

h2 {
	font-family: Futura, sans-serif;
	font-size: 70px;
	font-weight: 700;
	color: #34a7df;
	margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}
h3 {
	font-family: Futura, sans-serif;
	font-size: 45px;
	font-weight: 400;
	color: #34a7df;
}